:root {
  /* Colores primario y secundario personalizados*/
  --bs-primary: #7a19f1;
  --bs-secondary: #f2cf00;
  --bs-primary-rgb: 122, 25, 241;
  --bs-secondary-rgb: 242, 207, 0;
}

.bg-primary-gradient {
  background: linear-gradient(to bottom, #7a19f1, #332179);
}

.font-menu {
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.font-menu:hover {
  color: var(--bs-secondary);
}

.mh-100 {
  min-height: 100vh;
}

.boton-banner {
  border-radius: 20px;
  box-shadow: 2px 3px rgba(0, 0, 0, 0.555);
}

.b-radius-20 {
  border-radius: 20px;
}

.mh-25 {
  min-height: 25vh;
}

.z-index-100 {
  z-index: 100;
}

.z-indez-0 {
  z-index: 0;
}

.menu-transition {
  transition: 0.25s padding-top ease-in-out, 0.25s padding-bottom ease-in-out;
    transition-duration: 0.25s, 0.25s;
    transition-timing-function: ease-in-out, ease-in-out;
    transition-delay: 0s, 0s;
    transition-property: padding-top, padding-bottom;
}

.pt-88px{
  padding-top: 88px;
}

.textArea{
  height: 10rem;
}